@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

// Font awesome
@fa-font-path: "../fonts/font-awesome";


// Bootstrap
@font-family-sans-serif: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-monospace:  "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
